# Full reference https://github.com/foundry-rs/foundry/tree/master/config

[profile.default]
  auto_detect_solc = false
  block_timestamp = 1_680_220_800 # March 31, 2023 at 00:00 GMT
  bytecode_hash = "none"
  cbor_metadata = false
  evm_version = "paris"
  fuzz = { runs = 1_000 }
  gas_reports = ["*"]
  libs = ['node_modules', 'lib']
  optimizer = true
  optimizer_runs = 100_000
  out = "out"
  script = "script"
  solc = "0.8.19"
  src = "src"
  test = "test"

[profile.ci]
  fuzz = { runs = 10_000 }
  verbosity = 4

[etherscan]
  # sepolia = { key = "${API_KEY_ETHERSCAN}" }

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  localhost = "http://localhost:8545"
  ethereumSepolia = "${ETHEREUM_SEPOLIA_RPC_URL}"
  ethGoerli = "${ETHEREUM_GOERLI_RPC_URL}"
  optimismGoerli = "${OPTIMISM_GOERLI_RPC_URL}"
  avalancheFuji = "${AVALANCHE_FUJI_RPC_URL}"
  arbitrumTestnet = "${ARBITRUM_TESTNET_RPC_URL}"
  polygonMumbai = "${POLYGON_MUMBAI_RPC_URL}"
  polygonzkEVM = "${POLYGON_ZKEVM_RPC_URL}"
